<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkx7GWEg43SE2_8hLsT-0dj9QF-pkpJ9g</string>
	<key>GCM_SENDER_ID</key>
	<string>935345496335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPushApp</string>
	<key>PROJECT_ID</key>
	<string>irisfirebaseexample</string>
	<key>STORAGE_BUCKET</key>
	<string>irisfirebaseexample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935345496335:ios:bece8258171e48bede1e7a</string>
	<key>DATABASE_URL</key>
	<string>https://irisfirebaseexample-default-rtdb.firebaseio.com</string>
</dict>
</plist>